@import "variables.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  padding: 20px 30px;
  gap: 20px;
  box-shadow: 0 0 2px -1px;
  background-color: $dark-secondary;
  .left_col,
  .right_col,
  .center_col {
    display: flex;
    align-items: center;
  }
  .left_col {
    gap: 10px;
    h1 {
      font-size: 18px;
    }
    text-transform: capitalize;
    font-style: italic;
    .logo_container {
      position: relative;
      width: 30px;
      height: 30px;
    }
  }
  .right_col {
    flex: 1;
    justify-content: flex-end;
    ul {
      display: flex;
      gap: 15px;
      li {
        display: inline-block;
        position: relative;
        &::after {
          content: "";
          background-color: currentColor;
          position: absolute;
          height: 1px;
          width: 100%;
          bottom: -1px;
          left: 0;
          transform: scaleX(0);
          transition: all 0.2s ease-in-out;
          transform-origin: 0;
        }
        &:hover {
          text-shadow: 0 0 0.01px black;
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
