@import "variables.scss";

.container {
  display: flex;
  justify-content: center;
  padding: 100px;
  .section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    align-items: center;
    .logo_container {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 15px;
      .logo_block {
        height: 75px;
        width: 75px;
        position: relative;
      }
    }
    .search_container {
      width: 100%;
      max-width: 500px;
      position: relative;
      .search_logo {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
      .input {
        width: 100%;
        height: 40px;
        background-color: $dark-secondary;
        color: white;
        border: 1px solid rgba($color: #fff, $alpha: 0.2);
        border-radius: 20px;
        padding-left: 20px;

        &:focus {
          border: 1px solid rgba($color: #fff, $alpha: 0.5);
          padding-left: 40px;
        }
      }
    }
  }
}
