// Light Mode
$light-text: #141414;
$light-background: #fefefe;
$light-primary: #e9f4ff;
$light-secondary: #ced2ff;

// Dark Mode
$dark-text: #fefefe;
$dark-background: #040404;
$dark-primary: #343434;
$dark-secondary: #0c0c0c;
